services:
  app:
    build:
      context: .
      target: prod
    container_name: voecrm-prod
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: voecrm-db-prod
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=voecrm
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432' # Expose db port for local inspection if needed
    restart: unless-stopped

volumes:
  postgres_data:
